[modules]
needle.law_tasks

[job]
job_file_dir: runs/law_outputs
job_file_dir_cleanup: False
# job_file_cleanup: False <- I think this does nothing? law doesn't check for job_file_cleanup, but for job_file_dir_cleanup?
poll_interval: 30s
retries: 2

[logging]
luigi-interface: INFO
law: INFO

[luigi_core]
workers: 4
local_scheduler: True
no_lock: True

[luigi_worker]
keep_alive: True
ping_interval: 20
wait_interval: 20
max_reschedules: 0

[luigi_scheduler]
retry_count: 0

# Uncomment and fill in the section for your cluster to enable remote dispatch.
# See https://law.readthedocs.io for full documentation.

# [luigi_FoldTask_slurm]
# nodes: 1
# time: 60
# ntasks: 1
# job-name: needle-job
# partition: cpuonly
# mem-per-cpu: 2000


# [luigi_FoldTask_htcondor]
# RequestRuntime: 600
# RequestMemory: 2048
# RequestDisk: 10000000
# RequestCpus: 2
